<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>anjay</title>
</head>

<div class="container flex h-screen items-center">
    <div class="max-w-md mx-auto bg-white rounded-lg shadow-lg">
        <div class="md:flex p-2">

            <div class="md:flex-shrink-0">
                <img class="h-48 w-full rounded-lg md:w-48" src="../../src/images/naufal/india.jpg" alt="Gambar">
            </div>

            <div class="p-8">
                <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Kosatan</div>
                <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Kanjut
                    Kuda</a>
                <p class="mt-2 text-gray-500">Aku tak Tahu Apa yang terjadi</p>
            </div>

        </div>
    </div>
</div>



</html>